<?php

use DVSA\CPMS\Queues\QueueAdapters\AmazonSqs\AmazonSqsQueues;
use DVSA\CPMS\Notifications\Messages\Maps\MapNotificationTypes;

return array(
    'cpms_api'                => array(
        'logger_alias'      => '', //Zend logger service manager alias
        'identity_provider' => '', //Should implement CpmsClient\Authenticate\IdentityProviderInterface
        'enable_cache'      => true,
        'cache_storage'     => 'filesystem',
        'rest_client'   => array(
            'options' => array(
                'version'           => 1, //CPMS API version to use
                'domain'            => '', //CPMS API domain
            ),
        ),
        'notifications_client' => array (
            // Should implement DVSA\CPMS\Queues\Interfaces\Queues
            'adapter' => AmazonSqsQueues::class,
            'options' => array (
                // replace this with the AWS region that your environment is built in
                'region' => 'us-west-2',
                'queues' => array (
                    'notifications' => array (
                        // replace this with the correct notifications queue
                        // for your scheme
                        'QueueUrl' => 'https://sqs.us-west-2.amazonaws.com/600499240829/SH_Test01',
                        'Middleware' => [
                            'MultipartMessage' => [
                                "mapper" => MapNotificationTypes::class,
                            ],
                        ],
                    ),
                ),
            ),
        ),
    ),
);
